API_ID= 27589257
API_HASH= 0af78b04b48361bc117fa4e06d6d2292
BOT_TOKEN= 1739231223:AAGBcJ3vgHOW_0vvVnoYB61zNgz9hx9vWn0
LOG_GROUP_ID= -1001974779489
MONGO_DB_URI= mongodb+srv://bot:bot@cluster0.8vepzds.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 1137799257
STRING_SESSION= BQAZanlNVx2BMVhzriHzY2t-76yysdAo1-6ZuHhBrCY3bxWDfpKNq-qZfbhU5jJgzfk7Vv7pLV0bnObWgkX7QO2T5jw90tAIVbiqR_NsCgqwALKLz-f_LwJF8nqu3sKh9rLmydl9_a-KUuEpYTy82myA9f1RkFTeYY2o7W6kp0NFTISzA73Nx-DxuWlnllIw9seOPqG7UyBZmoF1nhiebvNk20Tsf6pQb3vCRl7vRsbRT9RuEkJPz2vE3FhDWb2wD1_PmqlXhVia48Roc9eAsEAXCRPyyDcPOm3VHPb9qQmhAoOWoC2RwwRTx4vR2SjonUiuTm3uPT70w3PsdHQ2ErOZaIdeMgA
