API_ID= 27589257
API_HASH= 0af78b04b48361bc117fa4e06d6d2292
BOT_TOKEN= 1739231223:AAGBcJ3vgHOW_0vvVnoYB61zNgz9hx9vWn0
LOG_GROUP_ID= -1001974779489
MONGO_DB_URI= mongodb+srv://bot:bot@cluster0.8vepzds.mongodb.net/?retryWrites=true&w=majority
OWNER_ID= 1137799257
STRING_SESSION= BQDFzTmH6IeVbzeHnCYyPB3cW37QFQ9koMZRl30S8Pgw8YBIP4ybmPU8YcDAJdRiPY-pyOHtqLFI44ZCpniiOmgVEVMWu7xfgtYZdgxhZRv8-SKSPCkcqxGk7J7skmu_2wibnFDIN6dZ9FAh6dq95N9NAnSEtQutJ90mjUx9XXjpLqTgbikk2YyHsptV_X2AN7TlDLmWwnl6bYJyVSc4vTfoklcHd2T5C7muomj52HPgj49OAYdGb0FyEdKt_MpY6V74amfr4sneip6A3Ei2sdviT3M5izdCNZYeGEjfpsI1zJzTBM7ZvZ1T85HGBETt60y5Eji-XxBVQ5AsTOEqqGFOAAAAAUfMsYAA
LOGGER_ID=  -1001974779489
